# ignore compiled pdf output file.
paper-demo*.pdf

# ignore temp files
.ipynb_checkpoints
*.pyc
*.mat
*~
*.asv
*.log
*.aux
*.bcf
*.run.xml
*.bbl
*.blg
*.ttf
*.ttc
*.lock
*~
*.fdb_latexmk
*.fls
*.synctex.gz